.classpath
.project
*.iml
.idea/*
.metadata/*
*.jar
Servers/*
package/*
*.ipr
*.iws
**.settings
**.svn
**target
**test-output
cscope*
bin
**.DS_Store
*.externalToolBuilders/
**.idea/
website/cas/overlays/
resolvedPom.xml
